body{
    background-color: #f0f2f5;
    font-family: Helvetica, sans-serif;
}
.full-page{
    display: flex;
    justify-content: start;
    padding: 180px 180px 0 180px;
    height: 100vh;
}
.in-page{
    width: 100vw;
}
.fb-pic{
   
    width: 300px;
}
.fb-text{
    margin-top: -8px;
    margin-left: 30px;
    font-size: 1.7rem;
}
.forget{
    text-decoration: none;
    margin-bottom: 10px;
}
.forget:hover{
    text-decoration: underline;
}
.createbtn{
    width: 50%;
    background-color: #42b72a;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 0;
}
.createbtn:hover{
    background-color: #38a522;
}
.log-btn{
    background-color: #1877f2;
    color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 10px 0;
}
.log-btn:hover{
    background-color: #156fe5;
    color: #fff;
}
.login-form{
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}
.fb-form{
    margin-top: -50px;
    margin-left: -20px;
}
.inp{
    padding: 14px 16px;
}
::placeholder{
    font-size: 1.05rem;
}
.page{
    text-decoration: none;
    color: black;
    font-weight: bold;

}
.page:hover{
    text-decoration: underline;
    color: black;
}
@media(max-width: 1352px){
    .createbtn{
        width: 60%;
    }
}
@media(max-width: 1142px){
    .createbtn{
        width: 70%;
        font-size: 0.8rem;
    }
    .full-page{
        padding: 180px 100px 0 100px;
    }
}
@media(max-width: 1063px){
    .cel{
        font-size: 0.9rem;
    }
}
@media(max-width: 991.5px){
    .fb-pic{
        margin: auto;
    }
    .fb-text{
        text-align: center;
        margin-left: 0;
    }
    .fb-form{
        margin-top: 10px;
        margin-left: 0;
    }
    .full-page{
        padding: 30px 30px;
    }
    .createbtn{
        font-size: 1rem;
    }
    ::placeholder{
        font-size: 0.9rem;
    }
    .cel{
        font-size: 1rem;
    }
    
}
@media(max-width: 678px){
    .fb-text{
        font-size: 1.4rem;
    }
    .cel{

    }
}
@media(max-width: 576px){
    .fb-text{
        font-size: 1.2rem;
    }
    .createbtn{
        font-size: 1rem;
    }
}
@media(max-width: 406px){
    .cel{
        font-size: 0.9rem;
    }
}
@media(max-width: 371px){
    .cel{
        font-size: 0.8rem;
    }
}